*{
    box-sizing: border-box;
}
.pinkblock{
    background: deeppink;
    width: 600px;
    height: 600px;
    display: flex;
    margin-left: calc((100% - 600px)/2);
    flex-direction: column;
}
.top{
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}
.yellow{
    background:yellow ;
    height: 150px;
    width: 150px;
    margin: 10px;
}
.green{
    background: green;
    height: 50px;
    width: 50px;
    margin: 50px auto;
}
.bottom{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-between;
    align-items: flex-end;
}
.blue{
    background: blue;
    height:100px ;
    width:100px ;
    margin: 10px;
}